# Production Environment Variables
NODE_ENV=production
PORT=8080

JWT_SECRET=PROD_SUPER_SECURE_HMAC_SHA256_KEY_CHANGE_THIS_IN_PRODUCTION
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=hms_prod_user
POSTGRES_PASSWORD=hms_prod_secure_password

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/medical_record_db
